{% extends "layout.html" %}

{% block content %}

<h1>Flask Todo App</h1>


<form method="post" action="{{ url_for('add_task') }}">
  <label>
    Task Name:
    <input type="text" name="name">
  </label>
  <label>
    Due Date:
    <input type="date" name="due_date">
  </label>
  <input type="submit" value="Add New Task">
</form>

{% if tasks %}
<ul>
  {% for task in tasks %}
    <div class="">
      {{ task['name'] }}
      {{ task ['due_date'] }}
      {{ task['is_done'] }}
    </div>
  {% endfor %}
</ul>
{% else %}  
  <h2>No tasks added. Start by creating a new task</h2>
{% endif %}
{% endblock %}
