{% extends "layout.html" %}

{% block content %}

{% if error %}
<p>{{ error }}</p>
{% endif %}

<form method="post" action="{{ url_for('login') }}">
  <div>
    <label>
      Username:
      <input type="text" name="username" required>
    </label>
  </div>

  <div>
    <label>
      Password:
      <input type="password" name="password" required>
    </label>
  </div>
  
  <div>
    <label>
      Remember Me?
      <input type="checkbox" name="remember">
    </label>
  </div>

  <input type="submit" value="Login">
</form>

<p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>

{% endblock %}